---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto flex flex-col gap-5 p-5 pt-25.5">
    <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
    <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
    <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
    <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
    <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
    <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
  </main>
</Layout>
