---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex justify-center">
    <div class="container flex flex-col gap-5 px-6 pt-24">
      <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
      <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
      <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
      <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
      <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
      <div class="w-full h-40 bg-neutral-200 rounded-2xl"></div>
    </div>
  </main>
</Layout>
