---
interface Props {
  label?: string;
}

const { label, ...rest } = Astro.props;
---

<button
  {...rest}
  class="flex items-center h-fit gap-2 px-3 py-2 rounded-lg shadow-xs border border-gray-200 transition-colors cursor-pointer hover:border-gray-300 hover:bg-neutral-100/50 active:bg-neutral-100 active:inset-shadow-xs focus-visible:border-gray-300 focus-visible:bg-neutral-100/50 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-200"
>
  {label && <span class="text-sm font-medium">{label}</span>}
  <slot />
</button>
