---
import Button from "./Button.astro";

const arr = [
  "Departamentos en venta",
  "Oficinas en venta",
  "Próximos lanzamientos",
  "Vende tu terreno",
  "Solicita una cotización",
  "Preguntas frecuentes",
];
---

<header class="w-full border-b-1 border-gray-200">
  <div class="container flex justify-between items-center p-5 mx-auto">
    <a href="/" class="flex items-center gap-1.5 text-stone-900">
      <svg viewBox="0 0 640 640" class="fill-current size-7" focusable="false">
        <path
          d="M201.7 291.5C236 310.2 266.2 335.6 290.5 366C301.6 379.9 311.5 394.9 319.9 410.8C328.4 394.9 338.2 380 349.3 366C373.6 335.5 403.8 310.1 438.1 291.5C479.8 268.8 527.5 256 577.8 256L587.7 256C598.8 256 607.8 265 607.8 276.1C607.8 424.1 487.9 544 339.9 544L299.7 544C151.9 544 32 424.1 32 276.1C32 265 41 256 52.1 256L62 256C112.4 256 160.1 268.8 201.7 291.5zM335.9 102C352.8 117.9 397.3 165.4 424.9 244.3C384.8 264.5 349.1 292.5 320 326.4C290.8 292.5 255.2 264.6 215.1 244.3C242.7 165.4 287.3 117.9 304.1 102C308.4 97.9 314.1 96 320 96C325.9 96 331.6 98 335.9 102z"
        ></path>
      </svg>
      <span class="text-2xl font-semibold tracking-tighter">havitat</span>
    </a>
    <div x-data="{ open: false }">
      <Button @click="open = ! open" label="Menú">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </Button>

      <div x-show="open" class="absolute inset-0 bg-white flex flex-col">
        <section
          class="flex justify-between items-center w-full p-5 border-b border-gray-200"
        >
          <a href="/" class="flex items-center gap-1.5 text-stone-900">
            <svg
              viewBox="0 0 640 640"
              class="fill-current size-7"
              focusable="false"
            >
              <path
                d="M201.7 291.5C236 310.2 266.2 335.6 290.5 366C301.6 379.9 311.5 394.9 319.9 410.8C328.4 394.9 338.2 380 349.3 366C373.6 335.5 403.8 310.1 438.1 291.5C479.8 268.8 527.5 256 577.8 256L587.7 256C598.8 256 607.8 265 607.8 276.1C607.8 424.1 487.9 544 339.9 544L299.7 544C151.9 544 32 424.1 32 276.1C32 265 41 256 52.1 256L62 256C112.4 256 160.1 268.8 201.7 291.5zM335.9 102C352.8 117.9 397.3 165.4 424.9 244.3C384.8 264.5 349.1 292.5 320 326.4C290.8 292.5 255.2 264.6 215.1 244.3C242.7 165.4 287.3 117.9 304.1 102C308.4 97.9 314.1 96 320 96C325.9 96 331.6 98 335.9 102z"
              ></path>
            </svg>
            <span class="text-2xl font-semibold tracking-tighter">havitat</span>
          </a>

          <Button @click="open = false" label="Cerrar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </Button>
        </section>

        <ul class="flex-1 flex flex-col overflow-y-auto custom-scrollbar">
          {
            arr.map((item) => (
              <li>
                <a
                  href="#"
                  class="group flex items-center justify-between gap-2 p-5 border-b-1 border-gray-200 text-stone-900 hover:bg-neutral-100/50 active:bg-neutral-100 active:inset-shadow-xs transition-colors"
                >
                  <span class="font-medium">{item}</span>
                  <svg
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    class="size-4 fill-none stroke-current opacity-0 group-hover:opacity-100 transition-opacity"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
                    />
                  </svg>
                </a>
              </li>
            ))
          }
        </ul>

        <section
          class="grid grid-cols-[max-content_max-content_1fr] border-t border-gray-200 text-stone-900 divide-y-1 divide-x-1 divide-gray-200 *:hover:bg-neutral-100/50 *:active:bg-neutral-100 *:active:inset-shadow-xs *:p-5 transition-colors"
        >
          <a href="#">Icon</a>
          <a href="#">Icon</a>
          <a href="#">
            <p class="text-xs text-stone-900/60 mb-1">Principal</p>01 580 7001
          </a>
          <a href="#">Icon</a>
          <a href="#">Icon</a>
          <a href="#">
            <p class="text-xs text-stone-900/60 mb-1">Opcional</p>01 580 7001
          </a>
        </section>
      </div>
    </div>
  </div>
</header>
